*.elc
*.orig
*.pyc
*~
.DS_Store
.\#*
\#*

/.cask
/.litable-lists.el
/.mc-lists.el
/.places
/README.html
/\.sx
/ac-comphist.dat
/anaconda-mode
/auto-save-list
/custom.el
/elpa
/erc-log
/history
/history-*.sql
/image-dired
/network-security.data
/org-clock-save.el
/private.el
/projectile-bookmarks.eld
/projectile.cache
/recentf
/request/*
/saveplace
/session.*
/speed-type
/tramp
/transient
/url
/user.el
