black[d]; python_version >= '3.0'
mypy; python_version >= '3.0'
pylint
pylint-common  # pylint-common is a Pylint plugin to improve Pylint error analysis of
pylint-mccabe  # McCabe complexity checker as a PyLint plugin
sourcery-cli; python_version > '3.0'
yamllint
